<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oauth.dao.ParentUserEntityMapper">
  <resultMap id="BaseResultMap" type="com.oauth.entity.ParentUserEntity">
    <id column="parent_user_id" jdbcType="BIGINT" property="parentUserId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_parent_id" jdbcType="BIGINT" property="userParentId" />
  </resultMap>
  <sql id="Base_Column_List">
    parent_user_id, user_id, user_parent_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parent_user
    where parent_user_id = #{parentUserId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from parent_user
    where parent_user_id = #{parentUserId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.oauth.entity.ParentUserEntity">
    insert into parent_user (parent_user_id, user_id, user_parent_id
      )
    values (#{parentUserId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userParentId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oauth.entity.ParentUserEntity">
    insert into parent_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentUserId != null">
        parent_user_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userParentId != null">
        user_parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentUserId != null">
        #{parentUserId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userParentId != null">
        #{userParentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oauth.entity.ParentUserEntity">
    update parent_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userParentId != null">
        user_parent_id = #{userParentId,jdbcType=BIGINT},
      </if>
    </set>
    where parent_user_id = #{parentUserId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oauth.entity.ParentUserEntity">
    update parent_user
    set user_id = #{userId,jdbcType=BIGINT},
      user_parent_id = #{userParentId,jdbcType=BIGINT}
    where parent_user_id = #{parentUserId,jdbcType=BIGINT}
  </update>
</mapper>