<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oauth.dao.UserInforEntityMapper">
  <resultMap id="BaseResultMap" type="com.oauth.entity.UserInforEntity">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, status, phone, realname, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_infor
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_infor
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.oauth.entity.UserInforEntity">
    insert into user_infor (user_id, username, password, 
      status, phone, realname, 
      email)
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oauth.entity.UserInforEntity">
    insert into user_infor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oauth.entity.UserInforEntity">
    update user_infor
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oauth.entity.UserInforEntity">
    update user_infor
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

<resultMap id="UserClient" extends="BaseResultMap" type="com.oauth.entity.UserInforEntity">
    <!--一对多，方式一-->
        <collection property="roles" ofType="com.oauth.entity.ClientAuthoritiesEntity" >
            <id column="client_authorities_id" jdbcType="BIGINT" property="clientAuthoritiesId" />
            <result column="authorities" jdbcType="VARCHAR" property="authorities" />
            <result column="key_client_server_id" jdbcType="BIGINT" property="clientServerId" />
        </collection>
  </resultMap>

  <select id="selectByUsername" resultMap="UserClient">
    select distinct
      t1.user_id, t1.username, t1.password, t1.status,
      t3.client_authorities_id,t3.authorities,t3.client_authorities_id key_client_server_id
    from user_infor t1 
      left join user_client t2 on t1.user_id = t2.user_id
      left join client_authorities t3 on t2.client_authorities_id = t3.client_authorities_id  
    where 
      1=1
      <if test="username != null and username != ''">
        and t1.username = #{username}
      </if>   
      <if test="userId != null">
        and t1.user_id = #{userId}
      </if>  
  </select>

  <select id="selectDepartmentByUsername" resultType="java.lang.Long">
    select 
      distinct
      t2.department_id
    from user_infor t1 
      left join department_leader t2 on t1.user_id = t2.user_id 
    where 
      1=1
      <if test="username != null and username != ''">
        and t1.username = #{username}
      </if>   
      <if test="userId != null">
        and t1.user_id = #{userId}
      </if>  
  </select>
</mapper>